<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104727521685-g87v301voemog6nncnc12iomgpvdg9uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104727521685-g87v301voemog6nncnc12iomgpvdg9uh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>104727521685-go16dne031i7one7soj34fgk0rlddost.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs_pdDWYjAOh46pvUDBx1Dr86UnB09AYo</string>
	<key>GCM_SENDER_ID</key>
	<string>104727521685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kondasri.bhavaniconnect</string>
	<key>PROJECT_ID</key>
	<string>bhavaniconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>bhavaniconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104727521685:ios:15c9ee91565da4d5f8ee9c</string>
	<key>DATABASE_URL</key>
	<string>https://bhavaniconnect.firebaseio.com</string>
</dict>
</plist>